# inside crontab -e

00 00 * * * /opt/mysql-backup.sh >> /var/log/mysql-backup.log
0 */12 * * * root test -x /usr/bin/certbot -a \! -d /run/systemd/system && perl -e 'sleep int(rand(3600))' && certbot -q renew; systemctl reload nginx > /var/log/certbot.log
